body{
    background-color: rgb(27, 27, 27);
    font-family: 'Montserrat', sans-serif;
    margin: 0%;
    color: white;
    text-align: center;
}
#header{
    width: 100%;
    margin-top: 0;
}
#title{
    text-align: center;
    font-size: 30px;
    color: white;
}

#secimg{
    background-color: black;
    gap: 40px;
    padding-bottom: 300px;
    border-radius: 10px;
    margin: 1%;
    border-left-style: solid;
    border-left-color: transparent;
    border-left-width: 30px;
    height: 100px;
    width: 600px;

}
#secimg2{
   margin: auto;
    display: flex;
    width: 50%;
    border-radius: 10px;
    background-image:
 linear-gradient(135deg, #ff25c1 0, #f20dcb 12.5%, #d700d5 25%, #b500dd 37.5%, #8900e5 50%, #4218ec 62.5%, #0028f3 75%, #0033f8 87.5%, #003afc 100%);
}
   h1{
    margin: 2%;
    color: white;
    font-size: 25px;
    text-align: center;
    padding: 7px;
    font-family: 'Lucida Sans';
  
   }
   
.titlee{}
.secp{
    color: white;
    margin-left: 2%;
   
  
}
#artimg2{
    background-color: black;
    gap: 40px;
    border-radius: 10px;
    margin: 2%;
    border-left-style: solid;
    border-left-color:transparent;
   height: 700px;
 
 
  
}
    #artimgback{
        margin: auto;
    border-radius: 10px;
    width: 90%;
    height: 700px;
    padding-top: px;
    background-image: linear-gradient(135deg, #ff25c1 0, #f20dcb 12.5%, #d700d5 25%, #b500dd 37.5%, #8900e5 50%, #4218ec 62.5%, #0028f3 75%, #0033f8 87.5%, #003afc 100%);
    }
    
    #artimg22{
     background-color: black;
    gap: 40px;
    border-radius: 10px;
    margin: 2%;
    border-left-style: solid;
    border-left-color:transparent;
   height: 700px;
    }
        #artimgback22{
          
          margin: auto;
    border-radius: 10px;
    width: 90%;
    height: 700px;
    padding-top: px;
        background-image: linear-gradient(135deg, #ff25c1 0, #f20dcb 12.5%, #d700d5 25%, #b500dd 37.5%, #8900e5 50%, #4218ec 62.5%, #0028f3 75%, #0033f8 87.5%, #003afc 100%);
        }
        
    .imgnot{
        width:150px;
        height: 100px;
        padding-right: 5px;
    }
    .imgnot2{
        width:150px;
        height: 100px;
        padding-right: 5px;
    }
    a{
        display: flex;
        color: white;
        margin: 2%;
        text-decoration: none;

    }
    span{
        display: block;
        opacity: 0.8;
        margin-left: 2%;
        font-size: 10px;
        color: white;
    }
   
    #artimg33{
        background-color: black;
       gap: 40px;
       border-radius: 10px;
       margin: 2%;
       border-left-style: solid;
       border-left-color:transparent;
      height: 700px;
       }
           #artimgback33{
             margin: auto;
       border-radius: 10px;
       width: 90%;
       height: 700px;
       padding-top: px;
           background-image: linear-gradient(135deg, #ff25c1 0, #f20dcb 12.5%, #d700d5 25%, #b500dd 37.5%, #8900e5 50%, #4218ec 62.5%, #0028f3 75%, #0033f8 87.5%, #003afc 100%);
           }
           
       .imgnot33{
           width:150px;
           height: 100px;
           padding-right: 5px;
       }
       .imgnot33{
           width:150px;
           height: 100px;
           padding-right: 5px;
       }
       .secp33{
        color: white;
        margin-left: 2%;
        display: flex;
    
    }
#footer{
    width: 100%;
}
p1{
    font-size: 20px;
    padding: 10px;
    font-family: 'Lucida Sans';
    text-align: center;
    margin-left: 10%;
}
.carrossel2{
    overflow: hidden;
}
.carrossel2> .primeiro{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    transition: all 500ms ease;
}

.carrossel2> .primeiro> .item1{
flex: 0 0 auto;
width: 100%;
}
 .carrossel2> input:nth-child(1):checked ~ .primeiro{
    transform: translateX(0);
 }

 .carrossel2> input:nth-child(2):checked ~ .primeiro{
    transform: translateX(-100%);
 }
 .carrossel2> input:nth-child(3):checked ~ .primeiro{
    transform: translateX(-200%);
 }
 .carrossel2> input:nth-child(4):checked ~ .primeiro{
    transform: translateX(-300%);
 }

 input{
    margin: 15px;
    text-align: center;
 }
 .primeiro{
    text-align: center;
 }
 
 #img{
margin-left: 25%;
 }
