
/*criação de variaveis para a organização das cores*/
:root{
    --color-light-50:#f8fafc;

    --color-dark-50:#797984;
    --color-dark-100:#312d37;
    --color-dark-900:#000;

    --color-purple-50:#7c3aed;
    --color-purple-100:#a855f7;
    --color-purple-200:#bf46ef;

    --color-gradient:linear-gradient(90deg, var(--color-purple-50), var(--color-purple-100), var(--color-purple-200))

}
body{
    margin: 0;
    padding: 0;
}

/*estilização do form*/
form{
    font-family: 'Lucida Sans';
    margin: 0;
    padding: 0;
    
}

/*estilização do container*/
#container{
    height:100%;
    width: 100%;
    /*backgrond:var para linkar o gradient color*/
    background: var(--color-gradient);
    display: flex;
    /* para centralização de itens*/
    align-items: center;
    justify-content: center;
}

#login_form{
    background-color: var(--color-light-50);
    display: flex;
    flex-direction: column;
    padding: 30px 40px;
    border-radius: 8px;
    /*gap utilizado para igualar os espaçamentos */
    gap: 30px;
    box-shadow: 5px 5px 8px  rgba( 0, 0, 0,0.336) ;
    height: fit-content;

}

#form_header{
    display: flex;
    align-items: center;
    /*  justify content serve para o espaçamento ,fazendo com que um fique de um lado e o outro de outro*/
    justify-content: space-between;
}

#form_header h1{
    font-size: 30px;
    /* position relative para fazer a criação da linha de baixo do h1*/
    position:relative
}
/*mudança da linha de baixo e tamanho*/
#form_header h1::before{
    position: absolute;
    content: '';
    width: 40%;
    background-color:var(--color-purple-50) ;
    height: 2px;
    bottom: 3px;
    border-radius: 5px;
}
/*aumento dos icons*/
#mode_icon{
    cursor: pointer;
    font-size: 20px;

}
/* mudaças nos inputs*/
#inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
/*sombra do input*/
.input-box{
    font-size: 14px;
    color: #797984;
}

.input-field{
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 3px;
    cursor: text;
    border-bottom: 1px solid var(--color-purple-50);
}

/*mudança do tamanho dos icons*/
.input-field i{
    font-size: 18px;
    color: var(--color-dark-900);
}
 /* mudança do input para trazer a transparencia*/
.input-field input{
    border: none;
    background-color: transparent;
    width: 260px;
    font-size: 15px;
    padding: 0px 5px;
}
.input-field input:focus{
    outline: none;
}



 .myButton {
	background: var(--color-gradient);
	background-color:#dfbdfa;
	border-radius:9px;
	border:1px solid #c584f3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	padding:8px 26px;
	text-decoration:none;
	text-shadow:0px 1px 0px #9639e3;
}
.myButton:hover {
	background:linear-gradient(to bottom, #bc80ea 5%, #dfbdfa 100%);
	background-color:#bc80ea;
}
.myButton:active {
	position:relative;
	top:1px;
}
