
/*criação de variaveis para a organização das cores*/
:root{
    --color-light-50:#f8fafc;

    --color-dark-50:#797984;
    --color-dark-100:#312d37;
    --color-dark-900:#000;

    --color-dark-50:#7c3aed;
    --color-dark-100:#a855f7;
    --color-dark-200:#bf46ef;

    --color-grandient:linear-gradient(90deg, var(--color-purple-50), var(--color-purple-100), var(--color-purple-200))


}