body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0%;
}
#header{
    width: 100%;
    margin-top: 0;
}
#footer{
    width: 100%;
    bottom: 0;
    margin-bottom: -5px;
}
#secimg{
    background-color: whitesmoke;
    gap: 40px;
    padding-bottom: 300px;
    border-radius: 10px;
    margin: 5px;
    border-left-style: solid;
    border-left-color: blue ;
    border-left-width: 7px;
    display: flex;
}
   h1{
    margin-left: 1%;
   }

p{
    color: black;
    margin-left: 2%;
}
#artimg2{
    background-color: whitesmoke;
    gap: 40px;
    border-radius: 10px;
    margin: 5px;
    border-left-style: solid;
    border-left-color: blue ;
    border-left-width: 7px;

}
    
    .imgnot{
        width:150px;
        height: 100px;
    }
    a{
        text-decoration: none;
        text-align: right;
        color: white;
    }