body{
    font-family: 'Montserrat', sans-serif;
    margin: 0%;
    background-color: rgb(33, 31, 31);
}
#header{
    width: 100%;
    margin-top: 0;
}
#footer{
    width: 100%;
    bottom: 0;
    margin-bottom: -5px;
}
#secimg{
    background-color: black;
    gap: 40px;
    padding-bottom: 20px;
    border-radius: 10px;
    margin: 1%;
    border-left-style: solid;
    border-left-color: transparent;
    border-left-width: 30px;

}
#secimg2{
    margin: 1px;
    border-radius: 10px;
    background-image:
 linear-gradient(135deg, #ff25c1 0, #f20dcb 12.5%, #d700d5 25%, #b500dd 37.5%, #8900e5 50%, #4218ec 62.5%, #0028f3 75%, #0033f8 87.5%, #003afc 100%);
}


#felipe {
    padding-left: 70px;
    padding-right: 70px;
}
   h1{
    margin: 2%;
    color: white;
  
   }
   #hp1{
    margin-top: 55px;
    margin-bottom: 90px;
    margin-left: 0;
    padding-right: 70px;

   }

.secp{
    color: white;
    margin-left: 2%;
    display: flex;

}
#artimg2{
    background-color: black;
    gap: 40px;
    border-radius: 10px;
    margin: 2%;
    border-left-style: solid;
    border-left-color:transparent;
    width: 100%;
    padding-bottom: 100px;
}
    #artimgback{
    border-radius: 10px;
    margin: 1px;
    margin-bottom: 0px;
    width: 48%;
    background-image: linear-gradient(135deg, #ff25c1 0, #f20dcb 12.5%, #d700d5 25%, #b500dd 37.5%, #8900e5 50%, #4218ec 62.5%, #0028f3 75%, #0033f8 87.5%, #003afc 100%);
    }
    #artimg22{
        background-color: black;
        gap: 40px;
        border-radius: 10px;
        margin: 2%;
        border-left-style: solid;
        border-left-color:transparent;
        width: 100%;
        padding-bottom: 100px;
        margin-right: 1000px;
    }
        #artimgback2{
        border-radius: 10px;
        margin: 1px;
        margin-left: 2%;
        margin-bottom: 0px;
        width: 48%;
        background-image: linear-gradient(135deg, #ff25c1 0, #f20dcb 12.5%, #d700d5 25%, #b500dd 37.5%, #8900e5 50%, #4218ec 62.5%, #0028f3 75%, #0033f8 87.5%, #003afc 100%);
        }
    .imgnot{
        width:150px;
        height: 100px;
        padding-right: 5px;
        border-radius: 10px;
        transition: transform 0.5s ease;
    }
    .imgnot:hover{
        transform: scale(1.1);
        transition: transform 0.5s ease-in-out;
    }
    a{
        display: flex;
        color: white;
        margin: 2%;
        text-decoration: none;

    }
    .aimg{
        margin: 0px;
    }
    .secp:hover{
        color: purple
        
    }
    span{
        display: block;
        opacity: 0.8;
        margin-left: 2%;
        font-size: 10px;
        color: white;
    }
    #artimg4{
        background-color: black;
        border-radius: 10px;
        margin: 1%;
        border-left-style: solid;
        border-left-width: 10px;
        border-left-color:transparent;
    }
    #artimg6{
        width: 90%;
    border-radius: 10px;
    margin: 1%;
        background-image: linear-gradient(135deg, #ff25c1 0, #f20dcb 12.5%, #d700d5 25%, #b500dd 37.5%, #8900e5 50%, #4218ec 62.5%, #0028f3 75%, #0033f8 87.5%, #003afc 100%);
    }
    .display{
        display: flex;
    }
    #h01{
        text-align: center;
    }
    .container003{
        display: flex;
        margin-top: 5%;
        margin-bottom: 5%;
        position: relative;
        background-color: #f10000;
        border: 1px solid #000;
        overflow: hidden;
        }
    #sec02{
        margin-right: 0%;
        
    }
    #img111{
        margin-left: 40%;
        margin-right: 2%;
    }
    #img122{
        margin-left: 5%;
        margin-right: 0%;
    }
    #img133{
        margin-left: 0%;
        margin-right: 60%;
    }
    #img09{
        margin-right: 0%;
    }
    .section001{
        margin-top: 9%;
        margin-bottom: 10%;
    }
    #img09{
        border-radius: 10px;
        margin-left: 5%;
    }
    #h02{
        
    }
    .container002{
        display: flex;
    }
    #artimgback3{
        border-radius: 10px;
        margin: 1px;
        margin-left: 2%;
        margin-bottom: 0px;
        width: 94%;
        background-image: linear-gradient(135deg, #ff25c1 0, #f20dcb 12.5%, #d700d5 25%, #b500dd 37.5%, #8900e5 50%, #4218ec 62.5%, #0028f3 75%, #0033f8 87.5%, #003afc 100%);
        }
        #artimg33{
            background-color: black;
            gap: 40px;
            border-radius: 10px;
            margin: 2%;
            border-left-style: solid;
            border-left-color:transparent;
            width: 100%;
            padding-bottom: 100px;
            margin-right: 1000px;
        }
        h2{
            color: white;
        }
        img{
            width:150px;
            height: 100px;
        }
        #carrossel{
            outline: 3px solid purple;
            border-radius: 5px;
            width: 900px;
            height: 450px;
            margin: auto;
            padding-left: 0px;
            overflow: hidden;
        }
        #carrossel ul{
            display: flex;
            list-style: none;
            width: 1200px;
            

        }
        #carrossel li{
            position: relative;
            left: -500px;
            animation: slide infinite ease-in-out;
            animation-duration: 10s;
        }
        @keyframes slide{
            0%{left:0px}
            16%{left: -900px}
            32%{left:-1800px}
            48%{left:-2700px}
            64%{left:-3600px}
            100%{left:0px}
        }
    .carimg{
        width: 900px;
        height: 500px;
        border-style: solid;
        border-color: rgb(123, 3, 202);
     
    }
    
    ul{
        margin: 0;
        padding: 0;
    }
    .imgp{
        width: 150px;
        height: 100px;
        margin-left: 4px;
    }