body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#secimg{
    background-color: whitesmoke;
    gap: 40px;
    padding-bottom: 300px;
    border-radius: 10px;
    margin: 5px;
    border-left-style: solid;
    border-left-color: blue ;
    border-left-width: 7px;
    display: flex;
}
   

p{
    color: black;
    margin-left: 2%;
}

    