body {
   margin: 0;
   padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    
}
#imh{
    left: 0;
    margin-left: 2%;
    margin-right: 2%;
    width: 5%;
}
.foot{
    display: flex;
}
a{
    text-decoration: none;
    color: white;
}
footer{
    width: 100%;
    bottom: 0;
    background-color:black;
    padding: 0;
}
p{
    color: white;
   margin: auto;

}
.as{
    display: flex;
    flex-direction: column;
    padding-top: 1%;
    margin: 0;
}
.as:hover{
    color: purple;
}
.asi{
    display: inline;
    right: 0;
}
.ils{
    width: 10%;
    padding-left: 70%;
}
.ili{
    width: 10%;
    padding-left: 70%;
}