<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link href="../layouts/footer.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <article>
    <div id="container">
    <div id="logo_contato_feedback">
    <img src="../assets/images/TECH-removebg-preview cortado.png" width="60px">
    </div>
    <div id="contato_feedback">
    <p>Contato</p>
    <p>Feedback</p>
    </div>
    <div id="p_direitos">
    <p>Todos os direitos reservados © 2023</p>
    </div>
    <div id="instagram_linktree">
        <a href="https.//instagram.com/mantistech_">
    <img src="../assets/images/logo instagram.png" width="25px">
    </a>
    <a href="https://linktr.ee/stefannyrodrioliv?utm_source=linktree_profile_share&ltsid=40ee1662-dc8a-4f94-9d92-40a214348678">
    <img src="../assets/images/linktree-logo-icon.png" width="20px">
    </a>
    </div>
    </div>
</article>
</body>
</html>