<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link href="../layouts/footer.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <footer>
    <article>
    <div id="container">
    <div id="logo_contato_feedback">
    <img src="../assets/images/Logo White.png" width="60px">
    </div>
    <div id="contato_feedback">
    <p>Contato</p>
    <p>Feedback</p>
    </div>
    <div id="p_direitos">
    <p>Todos os direitos reservados © 2023</p>
    </div>
    <div id="instagram_linktree">
        <a href="https://www.instagram.com/_mantistech/" target="_blank">
    <img src="../assets/images/logo instagram.png" width="25px">
    </a>
    <a href-="#" target="_blank">
    <img src="../assets/images/linktree-logo-icon.png" width="20px">
   </a>
    </div>
    </div>
</article>
</footer>
</body>
</html>