p {

}

#container {
    display: flex;
}

#contato_feedback {
    display: table-column;
    padding-left: 40px;
    text-align: left;
}   

body {
    margin: 0;
    padding: 0;
    background-color:blue;
    color: white;
    position: fixed;
    bottom: 0;
    
}

#logo_contato_feedback {
    padding: 0;
}

#instagram_linktree {
    justify-content: space-between 60px;
    padding-left: 400px;
    display: flex;
}

#p_direitos {
    padding-left: 400px;
}
a{
    text-decoration: none;
    color: white;
}
footer{
    bottom: 0;
    position: fixed;
    width: 90%;
    text-align: center;
    left: 0;
    
}

