body{
    margin: 0;
    font-family: sans-serif;
}
header{
    background-color: cadetblue;
    display: flex;
    
}
a{
    text-decoration: none;
    color: black;
    
    
}
nav li{
    list-style: none;
    align-items: center;
    
}
nav{
    
}