:root{
    --color-cadetblue: #547172;
    --color-darkcadetblue: #2d6567;
}
body{
    margin: 0;
    font-family: sans-serif;
    font-weight: bold;
}
header{
    background-color: var(--color-cadetblue);
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    flex-direction: row;
    align-items: center;
    box-shadow: 1px 1px 3px var(--color-darkcadetblue);
}

nav li{
    list-style: none;
    font-size: 20px;

    
}
ul{ 
    display: flex; 
    flex-direction: row;
    gap: 40px;
}
.navigation a{
    transition: 1s;
    color: rgb(8, 8, 8);
    text-decoration: none;
}
.navigation a:hover{
    color: aliceblue;
}
.content{
    text-align: center;
    padding-top: 10px;
    transition: 0.5s;
    height: 20px;
}
.btn_icon_header{
    /*display: none;*/
    background-color: transparent;
    border: none;
    color: whitesmoke;
}
/*
input{
    border-radius: 20px;
    border-style: none;
    font-size: 20px;
    
}
input::placeholder{
    color: black;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
}
*/
