:root{
    --color-dark: #000000;
    --color-grey: #3a3a3a;
    --color-purple:
}
body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
header{
    background-color: var(--color-dark);
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    flex-direction: row;
    align-items: center;
    box-shadow: 1px 1px 4px var(--color-grey);
}

nav li{
    list-style: none;
    font-size: 20px;
    
}
.navigation ul{
    display: flex;
   
}
.navigation a{
    text-decoration: none;
    color: white;
}
.navigation a:hover{
    border-bottom: purple solid 5px;
    border-radius: 3px;
    transition: 0.4s;
}

.btn_icon_header{
    display: none;
    background-color: transparent;
    border: none;
    color: whitesmoke;
}
#categories{
    margin-left: 20px;
    margin-right: 20px;
}
/*
input{
    border-radius: 20px;
    border-style: none;
    font-size: 20px;
    
}
input::placeholder{
    color: black;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
}
*/
