body {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='128' height='128'%3E%3Crect x='0' y='0' width='64' height='64' fill='%23ffffff'/%3E%3Crect x='64' y='64' width='64' height='64' fill='%23ffffff'/%3E%3Crect x='0' y='64' width='64' height='64' fill='%23ff0000'/%3E%3Crect x='64' y='0' width='64' height='64' fill='%23ff0000'/%3E%3C/svg%3E") repeat;
    
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

#ha1 {
    text-align: center;
   
}

#art01 {
    display: flex;
}

#sec01 {
    text-align: justify;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 2px 9px 4px #000;
    background-color: whitesmoke;
}

#sec02 {
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 2px 9px 4px #000;
    background-color: whitesmoke;
}

h2 {
    text-align: center;
}
#img01{
    margin: auto;
    padding-left: 100px;
}
span{
    display: block;
    opacity: 0.6;
    margin-left: 2%;
    font-size: 10px;
}
#art02{
    border-radius: 10px;
    box-shadow: 0px 2px 9px 4px #000;
    background-color: whitesmoke;
    margin: 2%;
}
div{
    display: flex;
}
#img02{
    margin: auto;
    padding-left: 100px;
    margin-left: -19px;
}
p{
    margin-left: 10px;
    margin-right: 10px;
    
}
#sec03{
    border-radius: 10px;
    box-shadow: 0px 2px 9px 4px #000;
    background-color: whitesmoke;
    width: 20%;
    margin: auto;
}

