body{
    background-color: rgb(27, 27, 27);
    font-family: 'Montserrat', sans-serif;
    margin: 0%;
    color: white;
}
#header{
    width: 100%;
    margin-top: 0;
}
#title{
    text-align: center;
    font-size: 30px;
    color: white;
}

#secimg{
    background-color: black;
    width: 82%;
    margin: 8%;
    border: 10px solid purple;
    border-radius: 7px;
    display: flex;
   
}

   h1{
    margin: 2%;
    color: white;
  
   }
.titlee{}
.secp{
    color: white;
    margin-left: 2%;
    display: flex;

}
#artimg2{
    background-color: black;
    gap: 40px;
    border-radius: 10px;
    margin: 2%;
    border-left-style: solid;
    border-left-color:transparent;
   height: 500px;
 
 
  
}
    #artimgback{
        margin: auto;
    border-radius: 10px;
    width: 90%;
    height: 500px;
    padding-top: px;
    background-image: linear-gradient(135deg, #ff25c1 0, #f20dcb 12.5%, #d700d5 25%, #b500dd 37.5%, #8900e5 50%, #4218ec 62.5%, #0028f3 75%, #0033f8 87.5%, #003afc 100%);
    }
    
    
    #artimg22{
     background-color: black;
    gap: 40px;
    border-radius: 10px;
    margin: 2%;
    border-left-style: solid;
    border-left-color:transparent;
   height: 500px;
    }
        #artimgback22{
          
          margin: auto;
    border-radius: 10px;
    width: 90%;
    height: 500px;
    padding-top: px;
        background-image: linear-gradient(135deg, #ff25c1 0, #f20dcb 12.5%, #d700d5 25%, #b500dd 37.5%, #8900e5 50%, #4218ec 62.5%, #0028f3 75%, #0033f8 87.5%, #003afc 100%);
        }
        
    .imgnot{
        width:150px;
        height: 100px;
        padding-right: 5px;
        border-radius: 10px;
    }
    .imgnot:hover{
        transform: scale(1.1);
        transition: transform 0.5s ease-in-out;
    }
    .imgnot2{
        width:150px;
        height: 100px;
        padding-right: 5px;
    }
    .imgnot2:hover{
        transform: scale(1.1);
        transition: transform 0.5s ease-in-out;
    }
    a{
        display: flex;
        color: white;
        margin: 2%;
        text-decoration: none;

    }
    .secp:hover{
        color: purple;
    }
    span{
        display: block;
        opacity: 0.8;
        margin-left: 2%;
        font-size: 10px;
        color: white;
    }
   
    #artimg33{
        background-color: black;
       gap: 40px;
       border-radius: 10px;
       margin: 2%;
       border-left-style: solid;
       border-left-color:transparent;
      height: 500px;
       }
           #artimgback33{
             margin: auto;
       border-radius: 10px;
       width: 90%;
       height: 500px;
       padding-top: px;
           background-image: linear-gradient(135deg, #ff25c1 0, #f20dcb 12.5%, #d700d5 25%, #b500dd 37.5%, #8900e5 50%, #4218ec 62.5%, #0028f3 75%, #0033f8 87.5%, #003afc 100%);
           }
           
       .imgnot33{
           width:150px;
           height: 100px;
           padding-right: 5px;
           border-radius: 10px;
       }
       .imgnot33:hover{
        transform: scale(1.1);
        transition: transform 0.5s ease-in-out;
    }
       .secp33{
        color: white;
        margin-left: 2%;
        display: flex;
    
    }
    .secp33:hover{
        color: purple;
    }
#footer{
    width: 100%;
}
.imgw{
    width: 170px;
    height: 170px;
    margin-left: 115px;
}
.aimg{
    margin: 0;
    padding: 0;
    display: flex;
}