body {
    background-color: rgb(5, 5, 5);
    font-family: 'Montserrat', sans-serif;
    margin: 0%;
    color: white;
}

#header {
    width: 100%;
    margin-top: 0;
}

#title {
    font-size: 30px;
    color: white;
    text-align: center;
    margin-right: 30%;
}

#insta {
    width: 40px;
    height: 40px;
    margin-left: 40%;
    border-radius: 5px;
}

#a111 {
    margin-left: 41%;
}

#footer {
    width: 100%;
}

#not1img {
    margin-left: 5%;
    width: 60%;
    border-radius: 10px;
}

.spa {
    margin-left: 28%;
    color: rgb(166, 163, 163);
}

.notp {
    margin-left: 2%;
    margin-right: 32%;
    font-size: 20px;
}

.titlem {
    margin-left: 22px;
}
.titlemat{
    padding-top: 4%;
    margin-left: 2%;
}

.divaside {
    width: 30%;
    right: 0;
    top: 159px;
    position: absolute;
}

.asimg {
    width: 180px;
    height: 110px;
    border-radius: 10px;
}
.asimg1{
    width: 190px;
    height: 120px;
    border-radius: 10px;
}
.asimg1:hover{
    transform: scale(1.1);
    transition: transform 0.5s ease-in-out;
   }

.asimg:hover {
    transform: scale(1.1);
        transition: transform 0.5s ease-in-out;
}
.asimg2:hover {
    transform: scale(1.1);
        transition: transform 0.5s ease-in-out;
}
.asimg2 {
    width: 180px;
    height: 120px;
    border-radius: 10px;
}

.flex {
    display: flex;
    margin-bottom: 5%;
}

.pa{
    margin-left: 10px;
}
.pa:hover{
    color: blueviolet;
}
.aaside{
    text-decoration: none;
    display: flex;
    color: white;
}
.video{
    margin-left: 2%;
}