body{
    background-color: rgb(5, 5, 5);
    font-family: 'Montserrat', sans-serif;
    margin: 0%;
    color: white;
}
#header{
    width: 100%;
    margin-top: 0;
}
#title{
    font-size: 30px;
    color: white;
}
#insta{
    width: 40px;
    height: 40px;
    margin-left: 40%;
    border-radius: 5px;
}
#a111{
    margin-left: 41%;
}
#footer{
    width: 100%;
}
#not1img{
    margin-left: 5%;
    width: 60%;
    border-radius: 10px;
}
.spa{
    margin-left: 28%;
    color: rgb(166, 163, 163);
}
.notp{
    margin-left: 2%;
    margin-right: 32%;
    font-size: 20px;
}
.titlem{
    margin: 2%;
}
.divaside{
    background-color: rgb(0, 0, 0);
    width: 30%;
    right: 0;
    top: 0%;
    position: fixed;
}
.asimg{
    width: 180px;
    height: 110px;
    border-radius: 10px;
    display: flex;
}
.flex{
    display: flex;
    margin-bottom: 5%;
}