#ha1 {
    font-family: Arial;
    text-align: center;
}

body{
    background-color: rgb(27, 27, 27);
    font-family: 'Montserrat', sans-serif;
    margin: 0%;
    color: white;}

article {
    box-shadow: rgb(0, 0, 86);
    border-radius: 10px;
    margin: 50px;
}

aside {
    display: flex;
    background-color: black;
    padding-left: 50px;
    padding-right: 50px;
}

#pa1 {
    width: 33%;
    margin: 10px;
    border-radius: 20px;
    border-style: solid;
    text-align: center;
    border-left: 40px rgb(252, 10, 179);
    border-right: 40px blue;
}
#weeknd{
    display: flex;
}
#div1{
    text-align: center;
    display: flex;

}
#article1{
    box-shadow: 25px 25px white;
}
#article2{
    background-color: crimson;
    display: flex;
    width: 500px;
    height: 300px;
    border-radius: 10px;
}